.u-section-1 {
  min-height: 675px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 675px;
  background-image: url("../image/helloBackground.png");
  background-position: 100% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 396px;
  height: 396px;
  object-position: 50% 0%;
  background-position: 50% 50%;
  background-image: url("../image/logo-100-100.jpg");
  margin: 0 auto 0 -214px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 675px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 121px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 427px;
  }

  .u-section-1 .u-image-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-1 .u-image-2 {
    width: 353px;
    height: 353px;
    margin-left: -235px;
  }

  .u-section-1 .u-layout-cell-3 {
    pointer-events: auto;
    min-height: 557px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 695px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-1 .u-image-2 {
    width: 448px;
    height: 448px;
    margin-top: -96px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 487px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -198px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-1 .u-image-2 {
    width: 263px;
    height: 263px;
    margin-top: -123px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
